<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ADODB" version="7.10.3077" targetFramework="net461" />
  <package id="jQuery" version="2.1.1" targetFramework="net461" />
  <package id="SampleDependency" version="1.0.0" targetFramework="net461" />
  <package id="Sybase.AdoNet.AseClient.dll" version="1.0.0" targetFramework="net461" />
  <package id="Sybase.AdoNet4.AseClient" version="1.0.0" targetFramework="net461" />
</packages>